services:
  db:
    image: postgres:15
    networks:
      - backend_network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=saas_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    networks:
      - backend_network
    env_file:
      - .env
    # environment:
    #   - DATABASE_URL=postgres://postgres:postgres@db:5432/saas_db
    depends_on:
      - db
    extra_hosts:
      - "db:172.18.0.2"


volumes:
  postgres_data:

networks:
  backend_network:
    driver: bridge